.label {
	-fx-text-fill: rgb(155, 155, 155);
}

#menuItem:hover .label {
	-fx-text-fill: white;
}

#menuItem:hover {
	-fx-background-color: rgb(155, 0, 0);
}

#menu {
	-fx-background-color: rgb(15, 15, 15);
}

#menuIcon {
	-fx-brightness: 2.0;
}

/*rgb(23, 23, 23) rgb(155, 0, 0) rgb(17, 0, 0); rgb(98, 95, 90)*/
